<nav>
	<ul  class="nav nav-pills">		
        <li role="presentation" class="active"><a href="#1" data-toggle="tab">Super Garba</a></li>
        <li role="presentation"><a href="#2" data-toggle="tab">Garba Spécial</a></li>
        <li role="presentation"><a href="#3" data-toggle="tab">Meilleurs plats trés délicieux</a></li>
        <li role="presentation"><a href="#4" data-toggle="tab">Riz grâs IvoiroSénégalais</a></li>
        <li role="presentation"><a href="#5" data-toggle="tab">Boissons</a></li>
        <li role="presentation"><a href="#6" data-toggle="tab">Desserts</a></li>
    </ul>
				
</nav>